$main-hue: 0;
$accent-hue: $main-hue + 15;
$accent-hue2: $main-hue + 180;
$main-lightest: hsl($main-hue, 25%, 97%); // #F9F5F5
$main-light: hsl($main-hue, 15%, 93%);
$main-darkest: hsl($main-hue, 10%, 36%); // Original (66% L instead of 46%): #B9989C
$main-shadow: hsl($main-hue, 15%, 36%, 50%);
$main-mid-border: hsl($main-hue, 10%, 79%); // rgb(217,199,201) -> hsl(353, 19%, 82%)
$main-mid: hsl($main-hue, 15%, 49%); // rgb(217,199,201) -> hsl(353, 19%, 82%)
$accent1-dark: hsl($accent-hue, 67%, 42%); // #25B7B8 -> hsl(180, 67%, 43%)
$accent2-light: hsl($accent-hue2, 7%, 94%); // hsl(203, 37%, 77%);
$accent2-dark: hsl($accent-hue2, 47%, 32%); // hsl(203, 67%, 32%); // #25B7B8 -> hsl(180, 67%, 43%)

@mixin dark_color {
  background-color: $main-darkest;
  color: $main-lightest;
}

@mixin light_color {
  background-color: $main-light;
  color: $main-darkest;
}

@mixin shadow {
  box-shadow: 4px 4px 4px $main-shadow;
}

:root {
  color-scheme: light dark;
  @include light_color;
}

a {
  color: $accent1-dark;
}

a:hover {
}

button {
  background-color: $accent1-dark;
  font-weight: bold;
}

header {
  background-color: $main-light;
  border-bottom: 2px solid $main-mid-border;

  .left {
    border: 2px solid $accent1-dark;
  }
}

.section-heading {
  border-bottom: 2px solid $main-mid;
}

.hero {
  .opening {
  }
  .headline {
    color: $main-darkest;
  }
  .subtitle {
    color: $main-mid;
  }
}

.icon-button {
  color: $main-lightest;
  background-color: $accent1-dark;
}

.popout {
  @include dark_color;
}

.shadow-button, .card-buttons a {
  box-shadow: 2px 2px 2px $main-shadow;
}

.card {
  background-color: $main-lightest;
  border: 3px solid $main-shadow;
  .icon-button-container {
    background-color: $accent1-dark;
    color: $main-lightest;
  }
  .tags span {
    color: $accent2-light;
    background-color: $accent2-dark;
  }
}

.web-resume {
  background-color: $main-lightest;
  border: 3px solid $main-shadow;
  h2 {
    border-bottom: 2px solid $main-darkest;
  }
  .job-title, .degree, .skill-label {
    color: $accent2-dark;
  }
  .company, .school {
    color: $main-mid;
  }
}